"tag": "!","color": "#FF2D00",

"tag": "?","color": "#3498DB",

"tag": "//","color": "#474747",

"tag": "todo","color": "#FF8C00",

"tag": "*","color": "#2ECC71",

"tag": "low-priority","color": "#95A5A6",

"tag": "fixme","color": "#E74C3C",

"tag": "note","color": "#f7f7f7","backgroundColor": "#3411DB",

"tag": "import","color": "#3411DB",
